body{
    padding:0;
    margin:0;
    border:0;
}
.bar{
    display:flex;
    justify-content:center;
    width:100vw;
}
.displaybox{
    aspect-ratio:1/1;
    max-width:33.3333vw;
    max-height:50vh;
}
.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:2.5vh;
}
#bouncy{
    width:100vw;
}